.steps {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.step {
}

.bar {
  width: 0%;
  height: 1px;
  background: blue;
}

.bar50 {
  width: 50%;
}

.bar100 {
  width: 100%;
}

.active {
  color: red;
}
