.formLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.formLayout .container * + * {
  margin-top: 1em;
}

.formLayout .errors {
  color: #f22b29;
}

.formLayout .input input,
.formLayout .input select {
  width: 100%;
}

.formLayout .requirements {
  font-size: 0.8em;
}
