.navigationBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.button {
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 2em;
}

.button:disabled {
  pointer-events: none;
  cursor: not-allowed;
}
